.container
{
    height: 700px;
    height: 700px;
}

.cell
{
    border: 0.5px solid grey;
    height: 50px;
    width: 50px;
    font-size:  2em;
    text-align: center;
    
}

.r3, .r6
{
    border-bottom: 3px solid black;
}

.c3, .c6
{
    border-right:3px solid black;
}

table tr, table tr td
{
    padding: 0px;
    margin: 0px;
}

td:hover
{
    background-color: aliceblue;
}